<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!--handlers accessPolicy="Read" /-->
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <verbs>
          <add verb="GET" allowed="true" />
          <add verb="*" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>


  </system.webServer>
  <system.web>
    <globalization responseEncoding="gb2312"   ></globalization>
  </system.web>
</configuration>
