<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="app" path="app.ashx" verb="GET" type="n8wan.Public.Logical.AppFixSync,n8wan.Public"/>
      <add name="user" path="user.ashx" verb="GET" type="n8wan.Public.Logical.AppUserFixSync,n8wan.Public"/>
    </handlers>
  </system.webServer>
</configuration>
